@media (0px < width <= 370px) {
    .btn_container {
        gap: 8rem;
        margin-top: 1.5rem;
    }
    .text_container {
        margin-top: 1rem;
        gap: 0rem;
        font-size: 14px;
        line-height: 2.3rem;
    }
}
@media (400px < width <= 650px) {
    
}
@media (650px < width <= 1080px) {
    
}
@media (1080px < width <= 1700px) {
    
}
@media (1700px < width <= 10000px) {
    
}